
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
<link rel="stylesheet" href="~/css/sidebarTheme.css">


@*<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" asp-controller="Home" asp-action="UserPage" ms-auto><i class="bi bi-person-circle"></i> @HttpContextAccessor.HttpContext.Session.GetString("Username")
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Home" asp-action="Logout">Logout
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="sidebar">
  <a class="nav-link active" asp-controller="Home" asp-action="UserManagement">Quản lí người dùng</a>
  <a class="nav-link active" asp-controller="Home" asp-action="Contact">Contact</a>
  <a class="nav-link active" asp-controller="Home" asp-action="About">About</a>
</div>*@
