
@{
    ViewData["Title"] = "Login";
	Layout = "";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link href="https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/Login-style-with-prefix.css" asp-append-version="true">
    <style>
        .srouce{
            text-align: center;
            color: #ffffff;
            padding: 10px;
        }
    </style>
</head>
@Html.AntiForgeryToken()
	<body>

    <div class="main-container">
        <div class="form-container">

            <div class="form-body">
@*                <h2 class="title">Log in with</h2>
                <div class="social-login">
                    <ul>
                        <li class="google"><a href="#">Google</a></li>
                        <li class="fb"><a href="#">Facebook</a></li>
                    </ul>
                </div><!-- SOCIAL LOGIN -->*@

@*                <div class="_or">or</div>*@
				@if(TempData["Login Error"] != null) 
{
					<div id="popupdiv" style="border: 1px solid red;">
						@TempData["Login Error"]
					</div>
}
                <form action="" class="the-form" method="post">

                    <label for="Username">Tên đăng nhập</label>
                    <input type="text" name="Username" id="Username" placeholder="Enter your username">

                    <label for="Password">Mật khẩu</label>
                    <input type="password" name="Password" id="Password" placeholder="Enter your password">

                    <input type="submit" asp-controller="Account" asp-action="Login" value="Log In">

                </form>

            </div><!-- FORM BODY-->
        </div><!-- FORM CONTAINER -->
    </div>

</body>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>