@{
    ViewData["Title"] = "Home Page";
}

@model ScadaProject.Models.Product

@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor

<script type="text/javascript">
    $(document).ready(function () {
    $('#example').DataTable({
  "ordering": false
});
});
</script>

<!DOCTYPE html>
<html>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
<style>
	/*
	tr td.test{
		border:1px solid red;
		border-style: inset;
		padding-top: 3px;
		padding-bottom: 3px;
		position: relative;
		top: 15px;
	}
	*/
	
	td.test{
		position: relative;
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
        text-align: left;
        padding: 10px;
		font-family: 'Roboto';
	}
	
	table.data{
		position: relative;
		top: 25px;
        border-collapse: collapse;
		cursor:pointer;
        width: 100%;
	}

	td span {
		border:1px solid black;
		margin-left: 150px;
	}

	.imgae_BKHN{
		width: 700px; 
		height: 170px;
		overflow: hidden;
		position: relative;
		left: 450px;
		top: -35px;
		bottom: 10px;
		border-style: groove  ;
		border-color: #F8F8FF;
		align-content: center;
	}

	.imgae_BKHN img {
		margin: -80px 0px 0px 0px;
	}

	.title_main{
		border-style: solid;
		text-align: center;
		text-transform: uppercase;
		margin-top:15px;
		padding-top: 3px;
		font-size: 20px;
		padding-bottom: 2px;
		color: #008B8B;
		font-size: 26px;
		font-family: 'Roboto';
		position: relative;
		top: -35px;
	}

	.title_GVHD{
		text-align: center;
		text-transform: uppercase;
		margin-top: 5px;
		font-weight: 600;
		font-size: 23px;
		color: #000000;
		position: relative;	
		font-family: 'Roboto';
		position: relative;
		top: -30px;
	}

	.title_HP{
		text-align: center;
		text-transform: uppercase;
		margin-top: 5px;
		font-weight: 500;
		font-size: 20px;
		color: #000000;
		padding-bottom: 10px;
		font-family: 'Roboto';
		position: relative;
		top: -35px;
	}
	
	.name_student {
		border:1px solid rgb(112, 140, 171);
		border-style: solid;
		margin-right: 2px;
		margin-left: 2px;
		padding-top: 20px;
		padding-bottom: 30px;
		position: relative;
		top: -160px;
	}
	
	.viet img{
		width: 100px;
		height: 100px;
		border-radius: 50%;
		position: relative;
		top: 10px;
		overflow: hidden;
		left: 10px;
		position: relative;
		top: -30px;
	}
	
	span.viet_name {
		position: relative;
		top: -75px;
		left: -110px;
		font-weight: 500;
		font-family: 'Roboto';
		padding-left: 5px;
		padding-right: 5px;
		position: relative;
		top: -48px;
	}
	
	div.viet_mssv {
		position: relative;
		top: -71px;
		left: 143px;
		font-family: 'Roboto';
		position: relative;
		top: -75px;
	}
	
	table.name_student{
		border-right: 2px solid red;
		padding-right: 400px;
		padding-top: 5px;
		position: relative;
		top: -55px;
		font-family: 'Roboto';
		padding-top: 10px;
	}
	
	td.infor_student{
		position: relative;
		top: 20px;
		border-right:3px solid red;
		padding-top: 15px;
		background-position: center;
	}
	
	td.infor_tuan{
		border-right:2px solid #FFFFFF;
		padding-top: 40px;
	}
	
	div.vietdz{
		position: relative;
		top: 10px;
		height: 30px;
		background-color: #ccb;
		padding-top: 3px;
		padding-bottom: 5px;
		padding-left: 5px;
	}

	.whole {
		background: url(https://hoaidoan.vn/wp-content/uploads/2021/03/background-dep-5.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	}

	.Nhom {
		background-color: #92a8d1;
		position: relative;
		top: -20px;
		bottom: 5px;
				padding-top: 3px;
		padding-bottom: 5px;
		padding-left: 5px;
		font-size: 20px;
		font-weight: 600;
	}
</style>


<body class="whole">	
<div class="imgae_BKHN">
	<img width = "700" height = "300" src= "https://cms.vietnamreport.net//source/LogoBusiness/Logo_Masan_Consumer1.png"/>
</div>

<center class = "title_main"> HỆ THỐNG GIÁM SÁT CHẤT LƯỢNG SẢN PHẨM KHU BÁO GÓI </center>
<center class = "title_GVHD"> GVHD: TS. Đào Quý Thịnh </center>
<center class = "title_HP"> Học phần: DSC & Scada </center>

<div class="Nhom">Nhóm Sinh Viên Thực Hiện: Nhóm 3</div>
<table width="100%"> 
	<td class="infor_student">
		<div class="viet">
			<img width = "100" height = "100" src= "https://scontent.fhan18-1.fna.fbcdn.net/v/t39.30808-6/248945896_2939325899731605_4815325016126107893_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=174925&_nc_ohc=wa0OgIGTTGsAX9UG49g&_nc_oc=AQmAXezzWKAPuwRbnrMfMezkEOhjys98Q2gmRkaqXy3xxB74Nh0_Nf8vcUtGWUUfKFg&_nc_ht=scontent.fhan18-1.fna&oh=00_AT8YunBfNzy5cssA2JufR8bh4goMwnIZTsJTFmm7C1z7MQ&oe=62EEF791"/>
			<span class = "viet_name">Trịnh Tiến Việt </span>
			<div class = "viet_mssv">MSSV: 20181839</div>
		</div>
	</td>
	<td class="infor_student">
		<div class="viet">
			<img width = "100" height = "100" src= "https://scontent.fhan18-1.fna.fbcdn.net/v/t1.15752-9/295970184_476280410998888_5286976578237416048_n.png?_nc_cat=105&ccb=1-7&_nc_sid=ae9488&_nc_ohc=oY5vdOfnBI4AX_VH5sJ&_nc_ht=scontent.fhan18-1.fna&oh=03_AVIYuU47EhIKHof0oXgSGKN8mQnO79PLYhUyxAFbzA53dA&oe=630E132F"/>
			<span class = "viet_name">Võ Thái Linh </span>
			<div class = "viet_mssv">MSSV: 20181583</div>
		</div>
	</td>
	<td class="infor_student">
		<div class="viet">
			<img width = "100" height = "100" src= "https://scontent.fhan18-1.fna.fbcdn.net/v/t1.15752-9/296776685_5644116782299779_581862056114407877_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=ae9488&_nc_ohc=UHRWTQWQdwYAX9eHevM&_nc_ht=scontent.fhan18-1.fna&oh=03_AVJ-tADFRkj4nGjkUOLwdzHjZtOwwfellkG-abFS7ZOyNQ&oe=630F7C5A">
			<span class = "viet_name">Trương Văn Huy </span>
			<div class = "viet_mssv">MSSV: 20181540</div>
		</div>
	</td>
	<td class="infor_tuan">
		<div class="viet">
			<img width = "100" height = "100" src= "https://scontent.fhan18-1.fna.fbcdn.net/v/t1.15752-9/291803413_381302057450272_4941084394516257843_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=ae9488&_nc_ohc=x-FcdSG3wFIAX-TTAyA&tn=07MbTx09-I5D1peu&_nc_ht=scontent.fhan18-1.fna&oh=03_AVIx9qSA-bLK0iYcC-5xIkX_T8312n1Rvp1Ptoa3aRMoaw&oe=630F35E4"/>
			<span class = "viet_name">Nguyễn Công Anh Tuấn </span>
			<div class = "viet_mssv">MSSV: 20181816</div>
		</div>
	</td>	
</table>
</body>
</html>



