@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">

<style type="text/css">
	.title{
    	font-size: 40px;
        font-family: 'Roboto';
        text-transform: uppercase;
       	color: #708090;
    	position: relative;
		top: 0px;
		height: 50px;
		background-color: #F0FFF0;
		padding-left: 5px;
        margin-bottom: 20px;
    }
    
    .truong_ca{
    	position: relative;
        top: 5px;
    	margin-left: 2px;
    }
    
     .san_pham {
    	position: relative;
        top: 5px;
    	margin-left: 235px;
        margin-top: 5px;
    }
    
    .button-feature{
    	background-color: #00FFFF;
        position: relative;
        top: 5px;
    }
    
    table.data{
		position: relative;
		top: 25px;
        border-collapse: collapse;
		cursor:pointer;
        width: 100%;
	}
    
    td.test{
        font-size: 25px;
		position: relative;
		border-bottom: 1px solid #ccc;
        text-align: left;
        padding: 15px;
		font-family: 'Roboto';
	}
    
    * {
  		box-sizing: border-box;
	}
    
    .row {
		margin-left:-5px;
		margin-right:-5px;
	}
  
	.column {
		float: left;
		width: 50%;
		padding: 5px;
	}
	
	td.name_truong_ca{
		position: relative;
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		padding: 10px;
		font-family: 'Roboto';
        font-size: 25px;
        
	}

    td.title_table{
        font-weight: 600;
        font-size: 22px;
    }
}
</style>

<body>
	<div class="title"> Cài đặt thông tin chung </div>

<form class="input_name">
    <span><input class="truong_ca" size="45" type="text" placeholder="   Nhập tên trưởng ca"/></span>
    <button class="button-feature"> Add </button>
    <button class="button-feature"> Edit </button>
    <button class="button-feature"> Delete </button>
    
    <span><input class="san_pham" size="45" type="text" placeholder="   Nhập tên sản phẩm"/></span>
    <button class="button-feature"> Add </button>
    <button class="button-feature"> Edit </button>
    <button class="button-feature"> Delete </button>
</form>

<tabel class = "name_truong_ca">

</tabel>

<div class="row">
  <div class="column">
<table class="data">
	<tr>
		<td class="title_table"> Tên trưởng ca </td>
	</tr>
  <tr>
    <td class="name_truong_ca">1</td>
    <td class="name_truong_ca">Huy ngu</td>
  </tr>
  <tr>
    <td class="test">2</td>
    <td class="test">Tuấn ngu </td>
  </tr>
  <tr>
    <td class="test">3</td>
	<td class="test">Linh ngu</td>
  </tr>
  <tr>
	<td class="test">4</td>
	<td class="test">Việt thông minh</td>
  </tr>
  <tr>
	<td class="test">5</td>
	<td class="test">huy vẫn ngu</td>
  </tr>
	<tr>
	 <td class="test">6</td>
	 <td class="test">Huy ngu vlon</td>
	</tr>
</table>
</div>

<div class="column">
<table class="data">
	<tr>
		<td class="title_table"> Tên trưởng ca </td>
	</tr>
  <tr>
    <td class="name_truong_ca">1</td>
    <td class="name_truong_ca">Huy ngu</td>
  </tr>
  <tr>
    <td class="test">2 </td>
    <td class="test">Tuấn ngu </td>
  </tr>
  <tr>
    <td class="test">3</td>
	<td class="test">Linh ngu</td>
  </tr>
  <tr>
	<td class="test">4</td>
	<td class="test">Việt thông minh</td>
  </tr>
  <tr>
	<td class="test">5</td>
	<td class="test">huy vẫn ngu</td>
  </tr>
	<tr>
	 <td class="test">6</td>
	 <td class="test">Huy ngu vlon</td>
	</tr>
</table>
</div>
</div>

</body>
</html>


