
@{
    ViewData["Title"] = "SettingProduction";
}

@model SettingCaSanXuat
@Html.AntiForgeryToken()
@*<link rel="stylesheet" href="~/css/ContactForm.css" asp-append-version="true">*@


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">

<style>
	.whole_page{
        font-family: 'Roboto';
	}

	.test_ca{
		font-size: 22px;
		text-transform: uppercase;
		border-top: 1px solid #ccc;
		font-weight: 600;

	}

	td.test{
		position: relative;
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
        text-align: left;
		font-family: 'Roboto';
		padding-top: 10px;
		padding-bottom: 10px;
		font-size: 18px;
		font-weight: 600;
	}
	
	.test_input {
		position: relative;
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
        text-align: left;
		font-family: 'Roboto';
		padding-top: 10px;
		padding-bottom: 10px;
		font-size: 18px;
		font-weight: 600;
		left: 22px;
	}

	table.data{
		position: relative;
		top: 25px;
        border-collapse: collapse;
		cursor:pointer;
        width: 100%;
	}
	
	.truong_ca{
    	position: relative;
		padding-top: 3px;
		padding-bottom: 3px;
    }

	.span_hour{
		position: relative;
		left: 10px;
	}

	.title{
		font-size: 38px;
		background-color: #F0F8FF	;
	}

/*	.Name_truong_ca {
		position: relative;
		left: 130px;
		bottom: -9px;
	}*/

	.text-inf {
		position: relative;
		left: 30px;
	}
		
.Name_truong_ca {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  position: relative;
  left: 40px;
}

		
.time {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;	
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  position: relative;
  left: 70px;
}

.timegio {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;	
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  position: relative;
  left: 110px;
}

.timephut {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;	
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  position: relative;
  left: 250px;
}

input[type=submit] {
  width: 50%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  left: 180px;
  bottom: -14px;

  
}

input[type=submit]:hover {
  background-color: #45a049;
}

.div_kip {
	position: relative;
	bottom: 25px;
	
	font-size: 30px;
	font-weight: 600;
	background-color: #F3D3D3;
	background-size: cover;
}

.Namesp{
    	position: relative;
		padding-top: 3px;
		padding-bottom: 3px;
	position: relative;
	right: -100px;
}

.Namesp1{
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  position: relative;
  left: 110px;
}

.Kip {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  position: relative;
  left: 150px;
}

	
</style>
<body class="whole_page">
@*<h1 class="title">Cài đặt ca sản xuất</h1>*@
@if(TempData["Setting SanXuat Error"] != null) 
{
		<div id="popupdiv" style="border: 1px solid red;">
            @TempData["Setting SanXuat Error"]
        </div>
}
<div class="div_kip">Cài Đặt Thông Tin Trưởng Ca Và Sản Phẩm</div>
 <form asp-controller="Home" asp-action="SetKip1" method="post">

    <label  for="UserName">Tên Trưởng Ca:</label>
    <span asp-validation-for="NameTruongCa" class="text-danger"></span>
    <input type="text" asp-for="NameTruongCa" class="time" placeholder="Tên Trưởng Ca..">

    <label class="Namesp" for="Name">Tên Sản Phẩm:</label>
    <select class="Namesp1" asp-for="NameSanPham" name="NameSanPham">
			 @foreach (var SanPham in ViewData["ProductList"] as List<string>) 
				{ 
					<option value=@SanPham >@SanPham</option>
				}  
    </select>
	
	<div>
    <label  for="UserName">Thời gian:</label>
    <span asp-validation-for="TimeStartHour" class="text-danger"></span>
    <input type="text" asp-for="TimeStartHour" class="timegio" placeholder="Giờ..">
	
    <label  for="UserName"></label>
    <span asp-validation-for="TimeStarMinute" class="text"></span>
    <input type="text" class="timephut" asp-for="TimeStarMinute" placeholder="Phút..">
	</div>

		<label  for="UserName">Kíp:</label>
	<select class="Kip" asp-for="Kip" name="Kip">
		<option value="1" >Kíp 1</option>
		<option value="2" >Kíp 2</option>
		<option value="3" >Kíp 3</option>
    </select>

	<div><input class = "button-inf" type="submit" value="Submit"></div>
</form>
</body>





